<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.user.dao.SysRoleDAO">
    <resultMap id="BaseResultMap" type="com.blog.common.entity.user.SysRole">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <id column="role_name" property="roleName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_code, role_name
    </sql>

    <!--根据用户名查找用户信息-->
    <select id="selectRoleByUserId" resultMap="BaseResultMap">
        SELECT r.*
        FROM `sys_role` r LEFT JOIN sys_role_user ru on r.id = ru.role_id
        where ru.user_id = #{userId};
    </select>

    <select id="selectRoleCount" resultType="java.lang.Integer">
        select count(*)
        from sys_role
    </select>

    <select id="selectRoleListByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/>
        from sys_role
        limit #{startNum}, #{pageSize}
    </select>

    <update id="updateRole" parameterType="com.blog.common.entity.user.SysRole">
        update sys_role
        <set>
            <if test="roleCode !=null and roleCode !=''">
                role_code = #{roleCode},
            </if>
            <if test="roleName !=null and roleName !=''">
                role_name = #{roleName},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteRoleByIds">
        delete from sys_role
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectRolePermission" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select permission_id
        from sys_role_permission
        where role_id = #{id}
    </select>

    <insert id="deleteRolePermission">
        delete from sys_role_permission
        where role_id = #{id}
    </insert>

    <insert id="saveRolePermission">
        insert into sys_role_permission
        (role_id, permission_id)
        VALUES
        <foreach collection ="perIds" item="perId" separator =",">
            (#{id}, #{perId})
        </foreach >
    </insert>

</mapper>