<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.content.dao.ArticleDAO">
    <resultMap id="BaseResultMap" type="com.blog.common.entity.content.article.Article">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="title" property="title" jdbcType="VARCHAR"/>
        <id column="content_md" property="contentMd" jdbcType="VARCHAR"/>
        <id column="content_img" property="contentImg" jdbcType="VARCHAR"/>
        <id column="article_type" property="articleType" jdbcType="VARCHAR"/>
        <id column="article_label" property="articleLabel" jdbcType="VARCHAR"/>
        <id column="article_status" property="articleStatus" jdbcType="INTEGER"/>
        <id column="browse_count" property="browseCount" jdbcType="INTEGER"/>
        <id column="like_count" property="likeCount" jdbcType="INTEGER"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, title, content_md, content_img, article_type, article_label,
         article_status, browse_count, like_count, create_time, update_time
    </sql>

    <select id="selectArticleCount" resultType="java.lang.Integer">
        select count(*)
        from article
        <where>
            <if test="userId != 0 ">
                AND user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                AND title like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="articleLabel != null and articleLabel != ''">
                AND
                <foreach item="label" collection="articleLabelList" open="(" separator="or" close=")">
                    article_label like CONCAT(CONCAT('%',#{label}),'%')
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectArticleListByPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from article
        <where>
            <if test="userId != 0 ">
                AND user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                AND title like CONCAT(CONCAT('%',#{title}),'%')
            </if>
            <if test="articleLabel != null and articleLabel != ''">
                AND
                <foreach item="label" collection="articleLabelList" open="(" separator="or" close=")">
                    article_label like CONCAT(CONCAT('%',#{label}),'%')
                </foreach>
            </if>
            <if test="articleType != null and articleType != ''">
                AND
                <foreach item="type" collection="articleTypeList" open="(" separator="or" close=")">
                    article_type like CONCAT(CONCAT('%',#{type}),'%')
                </foreach>
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="selectArticleById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/>
        from article
        where id = #{id}
    </select>

    <insert id="insertArticle" parameterType="com.blog.common.entity.content.article.Article">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into article

        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="contentMd != null" >
                content_md,
            </if>
            <if test="articleType != null" >
                article_type,
            </if>
            <if test="articleLabel != null" >
                article_label,
            </if>
            <if test="articleStatus != null" >
                article_status,
            </if>
            <if test="browseCount != null" >
                browse_count,
            </if>
            <if test="likeCount != null" >
                like_count,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="title != null" >
                #{title},
            </if>
            <if test="contentMd != null" >
                #{contentMd},
            </if>
            <if test="articleType != null" >
                #{articleType},
            </if>
            <if test="articleLabel != null" >
                #{articleLabel},
            </if>
            <if test="articleStatus != null" >
                #{articleStatus},
            </if>
            <if test="browseCount != null" >
                #{browseCount},
            </if>
            <if test="likeCount != null" >
                #{likeCount},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
            <if test="updateTime != null" >
                #{updateTime},
            </if>
        </trim>

    </insert>

    <update id="updateArticle" parameterType="com.blog.common.entity.content.article.bo.ArticleBo">
        update article
        <set>
            <if test="title !=null and title!=''">
                title = #{title},
            </if>
            <if test="contentMd !=null and contentMd !=''">
                content_md = #{contentMd},
            </if>
            <if test="contentImg !=null and contentImg !=''">
                content_img = #{contentImg},
            </if>
            <if test="articleType !=null and articleType !=''">
                article_type = #{articleType},
            </if>
            <if test="articleLabel !=null and articleLabel !=''">
                article_label = #{articleLabel},
            </if>
            <if test="articleStatus !=null">
                article_status = #{articleStatus},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id} and user_id = #{updateUserId}
        </where>
    </update>

    <delete id="deleteArticle" parameterType="com.blog.common.entity.content.article.bo.ArticleBo">
        delete from article
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        and user_id = #{userId};
    </delete>

</mapper>
