<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.content.dao.ArticleLabelTypeDAO">
    <resultMap id="BaseResultMap" type="com.blog.common.entity.content.article.ArticleLabelType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <id column="label_num" property="labelNum" jdbcType="INTEGER"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, type_name, label_num, create_time, update_time
    </sql>

    <select id="selectArticleLabelTypeList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article_label_type
    </select>

    <update id="updateArticleLabelType" parameterType="com.blog.common.entity.content.article.ArticleLabelType">
        update article_label_type
        <set>
            type_name = #{typeName},
        </set>
        <where>
            id = #{id} and label_num = 0;
        </where>
    </update>

    <update id="updateArticleLabelTypeLabelNumAdd" parameterType="java.lang.Integer">
        update article_label_type set label_num = label_num + 1 where id = #{id}
    </update>

    <update id="updateArticleLabelTypeLabelNumSubtract" parameterType="java.lang.Integer">
        update article_label_type set label_num = label_num - 1 where id = #{id}
    </update>

    <delete id="deleteArticleLabelTypeByIds">
        delete from article_label_type
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        and label_num = 0;
    </delete>

</mapper>