<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.content.dao.ArticleDAO">
    <resultMap id="BaseResultMap" type="com.blog.common.entity.content.article.Article">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="title" property="title" jdbcType="VARCHAR"/>
        <id column="content_md" property="contentMd" jdbcType="VARCHAR"/>
        <id column="content_html" property="contentHtml" jdbcType="VARCHAR"/>
        <id column="article_type" property="articleType" jdbcType="VARCHAR"/>
        <id column="article_label" property="articleLabel" jdbcType="VARCHAR"/>
        <id column="article_status" property="articleStatus" jdbcType="INTEGER"/>
        <id column="browse_count" property="browseCount" jdbcType="INTEGER"/>
        <id column="like_count" property="likeCount" jdbcType="INTEGER"/>
        <id column="create_time" property="createTime" jdbcType="DATE"/>
        <id column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, title, content_md, content_html, article_type, article_label,
         article_status, browse_count, like_count, create_time, update_time
    </sql>

    <select id="selectArticleCount" resultType="java.lang.Integer">
        select count(*)
        from article
        <if test="userId != 0 ">
            where user_id = #{userId}
        </if>
    </select>

    <select id="selectArticleListByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/>
        from article
        <if test="userId != 0 ">
            where user_id = #{userId}
        </if>
        limit #{startNum}, #{pageSize}
    </select>

    <update id="updateArticle" parameterType="com.blog.common.entity.content.article.bo.ArticleBo">
        update article
        <set>
            <if test="title !=null and title!=''">
                title = #{title},
            </if>
            <if test="contentMd !=null and contentMd !=''">
                content_md = #{contentMd},
            </if>
            <if test="contentHtml !=null and contentHtml !=''">
                content_html = #{contentHtml},
            </if>
            <if test="articleType !=null and articleType !=''">
                article_type = #{articleType},
            </if>
            <if test="articleLabel !=null and articleLabel !=''">
                article_label = #{articleLabel},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id} and user_id = #{updateUserId}
        </where>
    </update>

    <delete id="deleteArticle" parameterType="com.blog.common.entity.content.article.bo.ArticleBo">
        delete from article
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        and user_id = #{userId};
    </delete>

</mapper>
