<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.content.dao.DocCatalogDAO">
    <resultMap id="BaseResultMap" type="com.blog.common.entity.content.doc.DocCatalog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <id column="doc_name" property="docName" jdbcType="VARCHAR"/>
        <id column="doc_type" property="docType" jdbcType="VARCHAR"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DocCatalogVo" type="com.blog.common.entity.content.doc.vo.DocCatalogVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <id column="doc_name" property="docName" jdbcType="VARCHAR"/>
        <id column="doc_type" property="docType" jdbcType="VARCHAR"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, parent_id, doc_name, doc_type, create_time, update_time
    </sql>

    <select id="selectCountByParentId" resultType="java.lang.Integer">
    select count(*)
    from doc_catalog
    where parent_id = #{id}
</select>

    <select id="selectDocCatalogList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from doc_catalog
        where parent_id = 1
        <if test="userId != null and userId != 0">
            and user_id = #{userId}
        </if>
    </select>

    <select id="selectListByParentId" resultMap="DocCatalogVo">
        select <include refid="Base_Column_List"/>
        from doc_catalog
        where parent_id = #{parentId}
        <if test="docType != null ">
            and doc_type = #{docType}
        </if>
        <if test="userId != null and userId != 0">
            and user_id = #{userId}
        </if>
    </select>


    <select id="selectDocCatalogTree" resultMap="DocCatalogVo">
        select <include refid="Base_Column_List"/>
        from doc_catalog
        where parent_id = #{parentId}
        <if test="userId != 0 ">
            and user_id = #{userId}
        </if>
    </select>

    <insert id="insertDocCatalog" parameterType="com.blog.common.entity.content.doc.DocCatalog">
        <selectKey resultType="java.lang.Integer" keyProperty="value" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into doc_catalog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId !=null">
                user_id,
            </if>
            <if test="parentId !=null">
                parent_id,
            </if>
            <if test="docName !=null and docName !=''">
                doc_name,
            </if>
            <if test="docType !=null and docType !=''">
                doc_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId !=null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="parentId !=null">
                #{parent_id,jdbcType=INTEGER},
            </if>
            <if test="docName !=null and docName !=''">
                #{doc_name,jdbcType=VARCHAR},
            </if>
            <if test="docType !=null and docType !=''">
                #{doc_type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateDocCatalog" parameterType="com.blog.common.entity.content.doc.DocCatalog">
        update doc_catalog
        <set>
            <if test="docName !=null and docName !=''">
                doc_name = #{docName},
            </if>
            <if test="docType !=null and docType !=''">
                doc_type = #{docType},
            </if>
            <if test="parentId !=null and parentId !=''">
                parent_id = #{parentId},
            </if>
        </set>
        <where>
            id = #{id} and user_id=#{userId};
        </where>
    </update>

    <delete id="deleteDocCatalogById">
    delete from doc_catalog
    where id = #{id}
    and user_id = #{userId};
</delete>


</mapper>