<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.file.dao.SensorDAO">
    <resultMap id="BaseResultMap" type="com.blog.common.entity.file.Sensor">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="chip_id" property="chipId" jdbcType="INTEGER"/>
        <id column="sensor_type_id" property="sensorTypeId" jdbcType="INTEGER"/>
        <id column="sensor_name" property="sensorName" jdbcType="VARCHAR"/>
        <id column="sensor_code" property="sensorCode" jdbcType="VARCHAR"/>
        <id column="sensor_status" property="sensorStatus" jdbcType="INTEGER"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, chip_id, sensor_type_id, sensor_name, sensor_code, sensor_status, create_time, update_time
    </sql>

    <update id="updateSensorStatusByIds">
        update blog_sensor
        set sensor_status = #{sensorStatus}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        and user_id = #{userId};
    </update>
</mapper>