<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.file.dao.UserDeviceDAO">
    <resultMap id="BaseResultMap" type="com.blog.common.entity.file.UserDevice">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <id column="device_code" property="deviceCode" jdbcType="VARCHAR"/>
        <id column="code_status" property="codeStatus" jdbcType="INTEGER"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, device_code, code_status, create_time, update_time
    </sql>

</mapper>