[mysqld]
port = 3306
server_id = 1
user = mysql
character_set_server = utf8
max_connections = 100
max_connect_errors = 10
max_allowed_packet = 10M
secure_file_priv=/var/lib/mysql
default-time_zone = '+8:00'
[mysqldump]
user=root
password=